/*
Auther Name : Rohit singh
Description : this is a login bg css
Auther Url : iamrohitsingh.com
*/

body{
	background-image:url(../assets/home-bg.jpg); 
    height: 100%;  
	width:100%;
    background-size: cover;
	background-repeat: no-repeat;
	background-position:fixed;
	
}
.input_success{
	box-shadow: 0px 1px 9px #3fff00  !important;
    border: 1px solid #104001 !important;
}
.input_error{
	box-shadow: 0px 1px 9px #f00 !important;
    border: 1px solid #f00 !important;
}
.user_title{

    margin: 0px;
    color: #fff;
    text-align: center;
    height: 40px;
    line-height: 62px;	
	margin-top: 15%;
	margin-bottom:25px;
	text-shadow: 1px -2px 20px #27335b;
}
.login_bg{
	background: #ffffff36;
    /* min-height: 150px; */
    height: auto;
    
	border-radius:10px;
	box-shadow: 0px 0px 20px 0px #00000029;

}
 
.login_bg .form-group{
	margin-top:20px;
}
.login_bg .form-control{
	background: none;
    padding: 20px 12px;
    border: 1px solid #cad4da;
    color: #fff;
	border-radius:5px;
}
.login_bg .form-control:focus{
	border-color:#1b406a;
}
.login_bg .login_btn{
	border: 0px; 
    padding: 8px;
    color: #fff;
    background: #303c67;
    font-size: 18px;
    letter-spacing: 1px;
}

.form-control::placeholder {
	color:#fff;
}