
.edit_banner{
        height: 100px;
    margin-bottom: 100px;
    background: url(http://cyberworx.co.in/mymunchkin_new/upload/banner/ad3e2bca9023dcd141afc86a1c52c669.png);
    background-size: cover;
}


.first .main-bg{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.first .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    right: 0;
    margin: auto;
    height: 100%;
}
.first .logo{    
    transform: translateY(-40px);
    width: 200px;
}
.bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    right: 0;
    margin: auto;
    height: 100%;
}
.top-sec {
    z-index: 9;
}
/*.top-sec  h2{*/
/*    font-family: 'Baloo 2', cursive;*/
/*    font-size: 26px;*/
/*    line-height: 1.2;*/
/*    color: #f3999b;*/
/*    font-weight: 500;*/
/*    width: 55%;*/
/*    margin: auto;*/
/*}*/
/*.logo{    */
/*    width: 220px;*/
/*}*/



.second  .main-bg{
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.second  .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    right: 0;
    margin: auto;
    height: 100%;
}
.second .top-sec  h2{
font-family: 'Sail', cursive;
    font-size: 24px;
    line-height: 0.8;
    color: #111;
    z-index: 9;
    margin: 0;
    position: relative;
    width: 100%;
}
.second .top-sec .content span  {
    line-height: 2;
}
.second .top-sec  .content  h2:last-child{
    font-size: 34px;
    margin-top: 10px;
}
.second .top-sec  .content{
    position: absolute;
    left: 0%;
    margin: auto;
    top: 18%;
    width: 58%;
}
.second .top-sec ul{
    display: inline-flex;
    width: 96%;
    list-style: none;
    align-items: flex-end;
    margin: 0;
    height: 380px;
    padding: 0;
    justify-content: space-between;
}
.second .top-sec {
    width: 100%;
}
.second .top-sec ul li{
    width: 54%; 
    margin: 0 5px;
}
.second .top-sec .content img{
    text-align: right;
    margin-left: 45%;
    height: 30px;
}
.second .top-sec ul li:last-child{
    width: 40%; 
}
.second .top-sec ul li:last-child img{
    height: 280px;
}
.second .top-sec ul li img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.second .top-sec ul li img.laugh {
    height: 65px !important;
    object-fit: contain !important;
    margin-top: -20px;
    position: relative;
    margin-left: -90px;
}

.third .main-bg{
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    background-color: #fff;
}
.third .top-sec  h2{
font-size: 38px;
    color: #336663;
    font-weight: 400;
    margin: auto;
    margin-bottom: 20px;
    z-index: 9;
    position: relative;
    font-family: 'Sail', cursive;
    width: 100%;
}
.third .top-sec  h2 span{
    font-size: 24px;
    display: block;
    color: #4A494A;
}




.forth .main-bg{
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
}
.forth .top-sec {
    width: 80%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.forth .top-sec ul{
    display: inline-flex;
    width: 90%;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden;
    height: 180px;
    align-items: center;
    justify-content: space-between;
}
.forth .top-sec ul li{
    width: 42%;
    height: 100%;
    overflow:hidden;
    margin: 20px 0;
}

.forth .top-sec ul li img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.forth .content {
    font-size: 26px;
    color: #111;
    margin: 10px 00;
    z-index: 9;
    position: relative;
    font-family: 'Great Vibes', cursive;
    width: 75%;
}


.fifth .main-bg{
    width: 100%;
    margin: 0 auto;
    position: relative;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fifth  .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    right: 0;
    margin: auto;
    height: 100%;
}
.fifth .top-sec  h2{
    font-family: 'Sail', cursive;
    font-size: 40px;
    line-height: 1.2;
    color: #336663;
    font-weight: 500;
    margin: auto;
    width: 80%;
    margin-bottom: 10px;
}
.fifth .top-sec {
    width: 80%;
}
.fifth .top-sec img{
    width: 100%;
    height: 300px;
    object-fit: contain;
}



.sixth .main-bg{
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
}
.sixth .top-sec {
    width: 70%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.sixth .top-sec ul{
    display: inline-flex;
    width: 42%;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden;
    height: 350px;
}
.sixth .top-sec ul li{
    margin:  10px 5px;
    width:100%;
}

.sixth .top-sec ul li img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.sixth .top-sec ul li:nth-child(1){
    height: 50%;
}
.sixth .top-sec ul li:nth-child(2){
    height: 42%;
}
.sixth .top-sec .second li:nth-child(2){
    height: 58%;
}
.sixth .top-sec .second li:nth-child(1){
    height: 42%;
}




.seventh .main-bg{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    height: 400px;
    position: relative;
    background: #EFE3E5;
    display: flex;
}

.seventh .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    right: 0;
    margin: auto;   
    height: 100%;
}
.seventh .title-bot h3{
    color: #336663;
    font-family:'Sail', cursive;
    font-size: 44px;
    margin: 0; 
    text-align: left;
}
.seventh .title-bot p {
    color: #6b6b6b;
    font-size: 28px;
    margin: 10px;
    text-align: left;
    font-weight: 300;
    line-height: 1.2;
}
.seventh .title-bot{
    text-align: center;
}
.seventh .left-sec{
    width: 58%;
}
.seventh .left-sec img {
    width: 100%;
    object-fit: contain;
    height: 350px;
    position: relative;
}
.seventh .right-sec {
    align-self: center;
    position: relative;
    width: 42%;
    padding: 0  26px;
    box-sizing: border-box;
}
.seventh .section{
    display: inline-flex;
    align-self: center;
}

.seventh .section .right-sec img{
    width:60%;
}


.eighth .main-bg{
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
}
.eighth .top-sec {
    z-index: 9;
    display: inline-flex;
}
.eighth .top-sec ul{
    display: inline-flex;
    width:70%;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    height: 350px;
}
.eighth .top-sec ul li{ 
    height: 150px;
    width: 50%;
    box-sizing: border-box;
}

.eighth .top-sec ul li img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.eighth .top-sec ul li:nth-child(1){
    padding: 0 6px 6px 0;
    height: 200px;

}
.eighth .top-sec ul li:nth-child(2){
   padding: 0 0px 6px 6px;
    height: 200px;

}
.eighth .top-sec ul li:nth-child(3){
    padding: 6px 6px 0 0;
}
.eighth .top-sec ul li:nth-child(4){ 
     padding: 6px 0 0 6px; 
}





.ninth .main-bg{
    width: 100%;
    margin: 0 auto;
    padding: 30px 0 10px;
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ninth .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    right: 0;
    margin: auto;
    height: 100%;
}
.ninth .top-sec  h2{
    font-family: 'Sail';
    font-size: 36px;
    color: #336663;
    margin: 0 auto 15px;
}
.ninth .top-sec ul{
    display: inline-flex;
    width: 80%;
    list-style: none;
    justify-content: flex-end;
}
.ninth .top-sec ul li{
    width: 50%;
}
.ninth .top-sec ul li:nth-child(2){
    margin: 40px 0;
}
.ninth .top-sec ul li .edit_img{
    width: 90%;
    margin: auto;
}
.ninth .top-sec ul li img{
    width: 100%;
    height: 250px;
    object-fit: contain;
}
.ninth .top-sec ul li:last-child img{
    height: 150px;
}
.ninth .top-sec ul .horse {
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 18%;
}


.tenth .main-bg{
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
}
.tenth .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    right: 0;
    margin: auto;   
    height: 100%;
}
.tenth .top-sec {
    z-index: 9;
    display: inline-flex;
}
.tenth .top-sec ul{
    display: inline-flex;
    width: 70%;
    margin: auto;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}
.tenth .top-sec ul li{
    width: 50%;
    height: 150px;
    box-sizing: border-box;
}

.tenth .top-sec ul li img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.tenth .top-sec ul li:nth-child(1){
    padding: 0 5px 5px 0;
}
.tenth .top-sec ul li:nth-child(2){
   padding: 0 0px 5px 5px;
}
.tenth .top-sec ul li:nth-child(3){
    padding: 5px 0 5px 0 ;
    width: 100%;
}
.tenth .top-sec ul li:nth-child(4){ 
     padding: 5px 5px 0 0; 
}




.eleven .main-bg{
    width: 100%;
    margin: 0 auto;
    position: relative; 
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
}
.eleven .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    right: 0;
    margin: auto;   
    height: 100%;
}
.eleven .top-sec  h3{
      color: #336663;
    font-family: 'Sail', cursive;
    font-size: 44px;
    margin: 0;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}
.eleven .top-sec .baby-img{
    width: 100%;
    height: 260px;
    object-fit: contain;
    position: relative;
}
.eleven .top-sec {
    z-index: 9;
    width: 85%;
}

.twelve .main-bg{
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
}
.twelve .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    right: 0;
    margin: auto;
    z-index: 1;
    height: 100%;
}
.twelve .top-sec ul{
    display: inline-flex;
    width: 80%;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
    height: 300px;
    align-items: center;
}
.twelve .top-sec ul li{
    padding: 6px;
    width: 48%;
    box-sizing: border-box;
}

.twelve .top-sec ul li img{
    width: 100%;
    height: 140px;
    object-fit: contain;
}




.thirteen  .main-bg{
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.thirteen  .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    right: 0;
    margin: auto;
    height: 100%;
}
.thirteen .top-sec  h2{
font-family: 'Great Vibes';
    font-size: 26px;
    color: #111;
    z-index: 9;
    margin: 0;
    position: relative;
    width: 100%;
    line-height: 1;
}

.thirteen .top-sec  .content  h2 span{
font-size: 40px;
    text-align: center;
    margin-left: 50px;
    display: block;
    color: #336663;
    font-family: 'Sail';
}

.thirteen .top-sec ul{
    display: inline-flex;
    width: 100%;
    list-style: none;
    align-items: flex-start;
    margin: 10px 0;
    padding: 0;
    justify-content: space-between;
}
.thirteen .top-sec {
    width: 100%;
}
.thirteen .top-sec ul li{
    width: 50%; 
    margin: 0 10px;
}
.thirteen .top-sec .content img{
    text-align: right;
    margin-left: 45%;
    height: 30px;
}
.thirteen .top-sec ul li:last-child img{
    height: 220px;
}
.thirteen .top-sec ul li img{
    width: 100%;
    height: 150px;
    object-fit: contain;
}
.thirteen .top-sec ul li p {
    font-family: 'Great Vibes';
    font-size: 22px;
    padding: 10px 30px;
}


.forthteen .main-bg{
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.forthteen .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    right: 0;
    margin: auto;
    height: 100%;
}
.forthteen .top-sec {
    width: 100%;
    position: relative;
}

.forthteen .top-sec ul{
    display: flex;
    width: 90%;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin: auto;
    list-style: none;
}
.forthteen .top-sec ul li img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}
.main-bg .placeholder_div img {
    object-fit: cover !important;
}
.main-bg .placeholder_div.edit_img:after{
    content:none !important;
}
.forthteen .top-sec ul li{
    width: 33%;
    margin: 0 5px;
}
.forthteen .top-sec ul li:nth-child(1) {
    transform: translateY(-60px);

}
.forthteen .top-sec ul li:nth-child(3)  {
    transform: translateY(60px);
}





.fifteen .main-bg{
    width: 100%;
    margin: 0 auto;
    position: relative;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fifteen  .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    right: 0;
    margin: auto;
    height: 100%;
}
.fifteen .top-sec  h2{
    font-family: 'Sail', cursive;
    font-size: 40px;
    line-height: 1.2;
    color: #336663;
    font-weight: 500;
    margin: auto;
    width: 80%;
    margin-bottom: 10px;
}
.fifteen .top-sec {
    width: 80%;
}
.fifteen .top-sec img{
    width: 100%;
    height: 260px;
    object-fit: contain;
}


.sixteen .main-bg{
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
}
.sixteen .top-sec {
    width: 70%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.sixteen .top-sec ul{
display: inline-flex;
    width: 50%;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden;
    height: 360px;
    justify-content: center;
    align-items: center;
}
.sixteen .top-sec ul li{
    width:90%;
}

.sixteen .top-sec ul li img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.sixteen .top-sec ul li:nth-child(1){
    height: 42%;
    margin: 10px 0 40px;
}
.sixteen .top-sec ul li:nth-child(2){
    height: 42%;
    /*margin: 10px 0 0;*/
}
.sixteen .top-sec .second li:nth-child(2){
    height: 42%;
    margin: 0 0 40px;
}
.sixteen .top-sec .second li:nth-child(1){
    height: 42%;
    margin: -10px 0 30px;
}



.seventeen .main-bg{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    height: 400px;
    position: relative;
    background: #EFE3E5;
    display: flex;
}

.seventeen .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    right: 0;
    margin: auto;   
    height: 100%;
}
.seventeen .title-bot h3{
    color: #336663;
    font-family:'Sail', cursive;
    font-size: 44px;
    margin: 0; 
    text-align: left;
}
.seventeen .title-bot p {
    color: #111;
    font-size: 26px;
    margin: 100px 0 10px;
    line-height: 1;
    font-weight: 500;
    text-align: center;
    font-family: 'Great Vibes';
}
.seventeen .left-sec h3  {
    color: #336663;
    position: relative;
    margin: 10px 0;
    font-family: 'Sail';
    font-size: 38px;
}
.seventeen .title-bot{
    text-align: center;
}
.seventeen .left-sec{
    width: 58%;
}
.seventeen .left-sec img {
    width: 100%;
    object-fit: contain;
    height: 300px;
    position: relative;
}
.seventeen .right-sec {
align-self: center;
    position: relative;
    width: 40%;
    padding: 0 15px;
    box-sizing: border-box;
}
.seventeen .section{
    display: inline-flex;
    height: 400px;
    align-self: center;
}

.seventeen .section .right-sec img{
    width:55%;
}




.eighteen .main-bg{
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
}
.eighteen .top-sec {
    width: 70%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.eighteen .top-sec ul{
display: inline-flex;
    width: 50%;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden;
    height: 360px;
    justify-content: center;
    align-items: center;
}
.eighteen .top-sec ul li{
    width:94%;
}

.eighteen .top-sec ul li img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.eighteen .top-sec ul li:nth-child(1){
    height: 50%;
}
.eighteen .top-sec ul li:nth-child(2){
    height: 44%;
    /*margin: 10px 0 0;*/
}
.eighteen .top-sec .second li:nth-child(1){
    height: 44%;
}
.eighteen .top-sec .second li:nth-child(2){
    height: 50%;
}




.ninteen .main-bg{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    height: 400px;
    position: relative;
    display: flex;
}

.ninteen .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    right: 0;
    margin: auto;   
    height: 100%;
    /*object-fit: contain;*/
}
.ninteen .title-bot h3{
    color: #111;
    font-family: 'DTCCabanaBaby';
    font-size:58px;
    font-weight: 800;
    margin: 0;
    line-height: 1.2;
    text-align: left;
    -webkit-text-stroke: 0.5px white;
}

.ninteen .title-bot{
    text-align: center;
}
.ninteen .left-sec{
    width: 57%;
}
.ninteen .left-sec img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
}
.ninteen .right-sec {
    align-self: center;
    position: relative;
    width: 40%;
    padding: 0 45px;
    box-sizing: border-box;
}

.ninteen .left-sec ul {
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 100%;
    display: inline-flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: flex-end;
}
.ninteen .left-sec ul li{
    width: 90px;
    margin-right: 70px;
}
.ninteen .section{
    width:100%;
    display: inline-flex;
}

.ninteen .section .right-sec img{
    width:80%;
}
.ninteen .section .left-sec .edit_img{
    height: 80%;      
}



.twenty .main-bg{
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.twenty .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    right: 0;
    margin: auto;
    height: 100%;
}
.twenty .top-sec {
    width: 90%;
    position: relative;
    display: inline-flex;
    height: 400px;
}

.twenty .top-sec ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.twenty .top-sec ul li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.twenty .top-sec ul li{
    width: 90%;
    margin: auto;
}
.twenty .top-sec ul li:nth-child(1) {
    height: 55%;
    margin-bottom: 6%;
}
.twenty .top-sec ul li:nth-child(2)  {
    height: 35%;
}

.twenty .top-sec ul.second  {
    height: 280px;
    margin-top: 15px;
}

.twenty .top-sec ul.second li:nth-child(1) {

    height: 44%;
    margin-bottom: 6%;
}
.twenty .top-sec ul.second li:nth-child(2)  {
    height: 44%;
}





.twenty_one .main-bg{
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
}
.twenty_one .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    right: 0;
    margin: auto;   
    height: 100%;
}
.twenty_one .top-sec .first {
    height: 65%;
}
.twenty_one .top-sec {
    width: 90%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    z-index: 9;
    position: relative;
    height: 400px;
}
.twenty_one .top-sec ul{
    display: inline-flex;
    width: 55%;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    align-items: flex-end;
    height: 100%;
}
.twenty_one .top-sec ul li{
    width:100%;
    height: 45%;
    box-sizing: border-box;
}

.twenty_one .top-sec ul li img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.twenty_one .top-sec ul.first li{
    width: 80%;
    height: 45%;
}
.twenty_one .top-sec .second li:nth-child(1){
    height: 65%;
    align-self: center;
    margin-top: 40px;
}
.twenty_one .top-sec .second {
    width: 44%;
}
.twenty_one .content {
    position: absolute;
    top: 0;
    font-size: 58px;
    left: 0;
    text-align: left;
    width: 60%;
}
.twenty_one .content h2{
color: #336663;
    font-family: 'Sail', cursive;
    font-size: 40px;
    margin: 0;
    line-height: 1;
    text-align: left;
    width: 100%;
    position: relative;
    z-index: 9;
}
.twenty_one .content h2 span{
  
    font-family: 'Sail', cursive;
    margin-left: 50px;
}



.twenty_two .main-bg{
    width: 100%;
    margin: 0 auto;
    position: relative;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    text-align: center;
}
.twenty_two .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    right: 0;
    margin: auto;   
    height: 100%;
}
.twenty_two .top-sec {
    width: 100%;
    position: relative;
}

.twenty_two .top-sec ul{
 display: inline-flex;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 400px;
    overflow: hidden;
}
.twenty_two .top-sec ul li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.twenty_two .top-sec ul li:nth-child(1) {
    position: relative;
    height: 400px;
}
.twenty_two .top-sec ul li:nth-child(2) {
    height: 220px;
}
.twenty_two .top-sec ul li{
    width: 50%;
}

.edit_img:after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f303 ";
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    background: #ff721d6b;
    height: 100%;
    color: #ffffff;
    opacity:0;
    margin: auto;
    cursor: pointer;
}
.edit_img:hover:after {
    opacity:1;
}

.edit_img{
    position:relative;
}



#summer_loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    display: flex;
    height: 100%;
    background: #ffffff69;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.pixie .position-top .control-button:nth-child(7) {
    display:none;
}
.pixie .position-top .control-button:nth-child(8) {
    display:none;
}
.pixie .position-top .control-button:nth-child(9) {
    display:none;
}

.pixie .position-top .control-button:last-child {
    display:none;
}

.pixie toolbar.ng-tns-c119-1.ng-star-inserted {
    background-color: #5789ff;
}

pixie-editor button.no-style{
    
    text-align: center !important;
}
.pixie navigation-bar .scroll-container {
    justify-content: center !important;
}
.pixie .left.ng-star-inserted{
      display:inline-flex;
}
.pixie .left.ng-star-inserted .ng-star-inserted:nth-child(2){
    order: 1;
    display: inline-flex;
}
.pixie .left.ng-star-inserted .ng-star-inserted:nth-child(2){
    order: 1;
    display: inline-flex;
}
.pixie .left.ng-star-inserted .ng-star-inserted:nth-child(3) .toolbar-image{
    max-height: 50px;
}
.pixie .left.ng-star-inserted .ng-star-inserted:nth-child(2) .mat-button .mat-button-wrapper .mat-icon{
    vertical-align: unset;
}
.pixie .right.ng-star-inserted .ng-star-inserted:nth-child(2){
      display:none;
}
.pixie .right.ng-star-inserted .ng-star-inserted:nth-child(3){
      display:none;
}
.position-top  .ng-trigger svg {
    color: #FF721D;
}


.pixie toolbar.ng-tns-c119-1.ng-star-inserted .mat-focus-indicator.mat-menu-trigger.mat-button.mat-button-base.ng-star-inserted{
      display:none;
}

#mobile_album{
    display:none;
}


@media screen and (max-width: 1020px) {
   #albumm{
        display:none;
    }
    
    #mobile_album{
        width:350px;
        display:block;
        margin:20px auto;
    }
    #mobile_album .owl-nav button{
        background: unset;
        border: none;
        margin: 0 20px;
        outline: none;
    }
    #mobile_album .owl-nav button img{
      width:20px;
    }
    #mobile_album .main-bg {
        height: 300px !important;
    }
    .second .top-sec ul {
        height: 300px;
    }
    .second .top-sec ul li img.laugh {
        height: 55px !important;
        margin-top: -18%;
        margin-left: -20%;
    }
    .second .top-sec ul li:last-child img {
        height: 200px;
    }
    .second .top-sec ul li img {
        height: 150px;
    }
    .second .top-sec h2 {
        font-size: 22px;
    }
    .second .top-sec .content h2:last-child {
        font-size: 24px;
    }
    .third .top-sec h2 {
        font-size: 30px;
        margin-bottom: 14px;
    }
    .third .top-sec h2 span {
        font-size: 18px;
    }
    .forth .content {
        font-size: 22px;
        width: 80%;
    }
    .forth .top-sec ul {
        height: 110px;
    }
    .fifth .top-sec h2 {
        font-size: 34px;
    }
    .fifth .top-sec img {
        height: 220px;
    }
    .sixth .top-sec ul {
        height: 250px;
    }
    .sixth .top-sec ul li {
        margin: 6px 5px;
    }
    .seventh .left-sec img {
        height: 300px;
    }
    .seventh .title-bot h3 {
        font-size: 30px;
    }
    .seventh .right-sec {
        padding: 0 15px;
    }
    .seventh .title-bot p {
        font-size: 20px;
    }
    .seventh .section .right-sec img {
        margin: auto;
    }
    .eighth .top-sec ul {
        height: 250px;
    }
    .eighth .top-sec ul li:nth-child(1) {
        height: 150px;
    }
    .eighth .top-sec ul li:nth-child(2) {
        height: 150px;
    }
    .eighth .top-sec ul li {
        height: 100px;
    }
    .ninth .top-sec ul li img {
        height: 180px;
    }
    .ninth .top-sec h2 {
        font-size: 30px;
    }
    .tenth .top-sec ul li {
        height: 120px;
    }
    .eleven .top-sec h3 {
        font-size: 38px;
    }
    .eleven .top-sec .baby-img {
        height: 180px;
    }
    .twelve .top-sec ul {
        height: 260px;
    }
    .twelve .top-sec ul li img {
        height: 120px;
    }
    .thirteen .top-sec ul li p {
        font-size: 18px;
        padding: 10px 15px;
    }
    .thirteen .top-sec ul li:last-child img {
        height: 180px;
    }
    .thirteen .top-sec ul li img {
        height: 120px;
    }
    .thirteen .top-sec .content h2 span {
        font-size: 28px;
    }
    .thirteen .top-sec h2 {
        font-size: 22px;
    }
    .forthteen .top-sec ul li img {
        height: 150px;
    }
    .fifteen .top-sec h2 {
        font-size: 34px;
    }
    .fifteen .top-sec img {
        height: 200px;
    }
    .sixteen .top-sec ul {
        height: 260px;
    }
    .sixteen .top-sec ul li:nth-child(1) {
        margin: 10px 0 25px;
    }
    .sixteen .top-sec .second li:nth-child(1) {
        margin: -2px 0 25px;
    }
    .seventeen .section .right-sec img {
        width: 55%;
        margin: auto;
    }
    .seventeen .title-bot p {
        font-size: 22px;
    }
    .seventeen .section {
        height: 300px;
    }
    .seventeen .left-sec h3 {
        font-size: 34px;
        text-align: center;
    }.seventeen .left-sec img {
        height: 220px;
    }
    .eighteen .top-sec ul {
        height: 260px;
    }
    .ninteen .left-sec ul li {
        width: 15%;
        margin-right: 15%;
    }
    .twenty .top-sec {
        height: 300px;
    }   
    .twenty .top-sec ul.second {
        height: 210px;
        margin-top: 10px;
    }
    .twenty_one .top-sec {
        height: 300px;
    }
    .twenty_one .content h2 {
        font-size: 34px;
    }
    .twenty_two .top-sec ul {
        height: 300px;
    }
    .twenty_two .top-sec ul li:nth-child(1) {
        height: 300px;
    }
    .twenty_two .top-sec ul li:nth-child(2) {
        height: 180px;
    }
    .first .logo {
        transform: translateY(-40px);
        width: 180px !important;
    }
}

.milestone_tab span.title-table {
    font-weight: 700;
    font-size: 22px;
    color: #4D1818;
}
.milestone_tab hr {
    width: 60px;
    height: 2px;
    margin: 5px 0 20px;
    background: #FF721D;
    border-radius: 28px;
}
.milestone_tab .select_album_image input {
    width: 50%;
    text-align: center;
    color: #4D1818;
    border-radius: 10px;
    font-size: 14px;
    height: 40px;
    background: #0393EB12;
    border: none;
    box-shadow: none;
    outline: none;
}

.milestone_tab {
    width: 26%;
    position: absolute;
    left: -26%;
    transition: 0.5s all;
    z-index: 99;
    background: white;
    box-shadow: 0 0 10px #ff721d;
    /*border:1px solid #ff721d;*/
    padding: 10px 0 0px 10px;
    border-radius: 0 20px 20px 0;
}
.milestone_tab.mill_open{
    left:0;
}
.milestone_tab  .select_album_image .update_image input {
    display: none;
}
.milestone_tab .select_album_image .update_image span i {
    display: none;
}
.milestone_tab .select_album_image .update_image input:checked + span i {
    display: block;
}
.milestone_tab .select_album_image .update_image span {
    width: 25px;
    height: 25px;
    font-size: 12px;
    border: 1px solid;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.milestone_tab .card{
    border:none;
}
.milestone_tab .card .card-header{
    padding: 15px 0;
    background: transparent;
}
.milestone_tab .card-body {
    padding: 0;
}
.milestone_tab .card .card-header button{
    width:100%;
    text-align:left;    
    padding:  0;
    box-shadow: none;
    text-decoration: none;
    color: #111;
    font-weight: 700;
}
.milestone_tab #accordion {
    height: 500px;
    overflow-y: auto;
}
.milestone_tab .card-header button:after {
    transform: rotate(180deg);
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    position: absolute;
    transition: 0.3s;
    right: 20px;
    color: #111;
    font-size: 18px;
    top: 12px;
}
.milestone_tab .card-header button.collapsed:after {
    transform: rotate(0deg);
    transition: 0.3s;
}
.milestone_tab  .milestone_tab_btn{
    position: absolute;
    right: -42px;
    top: 70px;
    background: #ff721d;
    width: 42px;
    border-radius: 0 10px 10px 0;
    height: 42px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.milestone_tab td:first-child{
    text-align:left;
}
.milestone_tab td label {
    font-weight: 700;
}
.milestone_tab td img {
    height: 80px;
}
.milestone_tab td {
    vertical-align: middle;
    padding: 10px 0 0;
    text-align:center;
}
input[type=number].UpdateSortOrder::-webkit-inner-spin-button, 
input[type=number].UpdateSortOrder::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.forth li:hover{
    border:1px solid #ff721d;
} 

   
@media only screen and (max-width: 768px) {
    .milestone_tab {
        width: 52% !important;
        left: -52% !important;
    }
    
.milestone_tab.mill_open{
    left:0 !important;
}
}
